<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer information</title>
</head>
<body>
<p th:text="${customer.getId()}">user</p>
<p th:text="${customer.getName()}">user</p>
<p th:text="${customer.getEmail()}">user</p>
<p th:text="${customer.getPhoneNumber()}">user</p>
<p th:text="${customer.getCreationDate()}">user</p>
<p th:text="${customer.getModificationDate()}">user</p>

<a th:href="@{/customer/{id}/edit(id=${customer.getId()})}">edit</a>
<form th:method="DELETE" th:action="@{/customer/{id}(id=${customer.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>